

.gjr_better_life {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat";
  text-align: center;
}
.gjr_better_life .gjr-better_life_content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.gjr_better_life .gjr-better_life_content .life_text {
  font-size: 20px;
  line-height: 1.5;
  width: 880px;
  margin: 3rem auto;
}
.gjr_better_life .gjr-better_life_content .life_text button {
  padding: 1rem 1.5rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background: #ac8420;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat";
  position: relative;
  overflow: hidden;
}
.gjr_better_life .gjr-better_life_content .life_text button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.gjr_better_life .gjr-better_life_content .life_text button:hover::before {
  left: 0%;
  background: #111;
  z-index: 1;
}
.life_images_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0;
  gap: 30px;
}
.clever_images_box img,
.life_images_box img {
  width: 100%;
  height: 100%;
}
.clever_solutions {
  width: 100%;
  margin-top: 2rem;
}
.clever_content {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
}
.clever_images_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.clever_content .clever_text {
  width: 880px;
  padding: 2rem 0;
  margin: 2rem auto;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.clever_content .clever_text h1 {
  margin-bottom: 2rem;
}
.clever_images_box .title {
  font-size: 2rem;
}

@media screen and (max-width: 940px) {
  .gjr_top_banner_content {
    width: 100%;
    padding: 0 1.5rem;
  }
  .gjr_mid_banner .mid_banner_content {
    width: 100%;
    padding: 0 1.5rem;
  }
}
