/* GJR */
.gjr_section {
  width: 100%;
  margin: auto;
  font-family: "Montserrat";
}
.gjr_section .nav_content {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100%;
  /* height: 200px; */
  z-index: 99; 
}
.gjr_top_banner {
  height: 50px;
  background: rgb(255, 255, 255);
  margin-top: 0px;
}
.gjr_top_banner_content {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.gjr_top_banner_content .gjr_contact {
  display: flex;
  column-gap: 20px;
  margin: 6px 0;
}
.gjr_top_banner_content .gjr_contact a {
  position: relative;
}
.gjr_top_banner_content .gjr_contact a::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 51%;
  /* transform: translateY(-50%) ; */
  left: -150px;
  width: inherit;
  height: 100%;
  padding: .1rem .35rem;
  font-size: 12px;
  background: #111;
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  z-index: 999; 
  transition: .2s ease;
}
.gjr_top_banner_content .gjr_contact a:hover::before {
  /* top: 00px; */
  visibility: visible;
  opacity: 1;
}
.gjr_top_banner_content .gjr_contact p span {
  color: #8d8d8d;
  display: flex;
  align-items: center;
  column-gap: 10px;
  letter-spacing: 2px;
  font-size: 14px;
}
.gjr_top_banner_content .gjr_contact p:not(:last-child) {
  border-right: 2px solid #8d8d8d;
  padding: 0 1rem;
}
.mid_banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.gjr_mid_banner_text .gjr_title {
  font-size: 2rem;
  font-weight: 800;
}
.gjr_mid_banner_text span {
  color: #ac8420;
}
.gjr_mid_banner {
  height: 70px;
  background: #000044;
}
.gjr_mid_banner .mid_banner_content {
  text-align: center;
}
.gjr_menu_btn {
  width: 32px;
  height: 32px;
  /* border: 1px solid red; */
  position: relative;
  cursor: pointer;

}
.gjr_menu_btn span { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 25px;
  background: #fff;
  transition: .3s ease;
}
.gjr_menu_btn span:nth-child(1) {
  top: 25%;
} 
.gjr_menu_btn span:nth-child(3) {
  top: 75%;
} 
.gjr_menu_btn:hover .gjr_menu_btn span:nth-child(1) { }
.gjr_menu_btn:hover .gjr_menu_btn span:nth-child(2) { }
.gjr_menu_btn:hover .gjr_menu_btn span:nth-child(3) { }



.gjr_nav_links ul li {
  display: inline-block;
  margin-left: 1.5rem;
}
.gjr_nav_links ul li a {
  color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.2rem;
}
.gjr_nav_links ul li a {
  position: relative;
}
.gjr_nav_links ul li a::before {
  content:   "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.gjr_nav_links ul li a:hover::before {
  width: 100%;
}
.gjr_third_banner {
  width: 100%;
  height: 60px;
  background: #111;
  /* background: #b6ccc2; */
  /* background: #b6ddd2; */
  /* background: #9dad98; */
  border-top: 8px solid #ac8420;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  color: rgba(255, 255, 255);
}
.gjr_third_banner .gjr_third_banner_content {
  width: 80%;
  height: 100%;
  margin: auto;
}
.third_banner_content .gjr_nav_items {
  width: 100%;
  height: 100%;
}
.third_banner_content .gjr_nav_items ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gjr_nav_items ul li span {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.gjr_fourth_banner {
  width: 100%;
  height: 50px;
  background: #f9f9f9;
  background: #fff;
  /* background: #b6ccc2; */
  /* background: #b6eee2; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.gjr_fourth_banner .fourth_banner_content {
  height: 100%;
}
.gjr_fourth_banner .fourth_banner_content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
}
.gjr_fourth_banner .fourth_banner_content ul li {
  text-align: center;
}
.gjr_fourth_banner .fourth_banner_content ul li:not(:last-child) {
  border-right: 1px solid #111;
}
.gjr_fourth_banner .fourth_banner_content ul li a {
  width: 100%;
  height: 100%;
  color: #111;
  padding: 0.5rem 0;
  position: relative;
}
.gjr_fourth_banner .fourth_banner_content ul li a::before {
  content: "";
  position: absolute;
  top: 150%;
  left: 0%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #424242;
  transition: all 0.3s ease;
}
.gjr_fourth_banner .fourth_banner_content ul li a:hover::before {
  width: 100%;
}
.gjr_nav_items ul li .gjr_mega_drop_menu {
  position: fixed;
  top: 300px;
  left: 0%;
  /* transform: translateX(-50%); */
  width: 100%;
  height: 415px; 
  margin: auto;
  padding: 40px 0;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  color: #111;
  z-index: 888;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  font-family: "Jost";
  /* border: 1px solid red;g */
}
.gjr_nav_items ul li {
  position: relative;
}
.gjr_nav_items ul li:hover::before {
  content: "";
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255);
}
.gjr_nav_items ul li:hover .gjr_mega_drop_menu {
  top: 280px;
  opacity: 1;
  visibility: visible;
}
.gjr_mega_drop_menu .mega_drop_menu_content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.gjr_mega_drop_menu .mega_drop_menu_content .card img {
  width: 100%;
  height: 100%;
}
.mega_drop_menu_content .card .card_img_box {
  display: flex;
  height: 200px;
}
.mega_drop_menu_content .card .card_title {
  font-weight: 500;
  display: inline;
  padding: 0.5rem 0;
  position: relative;
}
.mega_drop_menu_content .card .card_title::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ddd;
  /* background: #b6eee2; */
}
.mega_drop_menu_content .card .specs {
  /* border-top: 1px solid #eee; */
  padding: 0.5rem 0;
}
.mega_drop_menu_content .card .specs a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 8px 0;
  color: #111;
  font-weight: 600;
  background: #b6ccc2;
  /* background: #b6eee2; */
  transition: 0.3s ease;
}
.mega_drop_menu_content .card .specs a:hover {
  background: #b6ddd2;
}
