* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* color: #111; */
}


.about_content,
.contact_content ,
.careers_content { 
  width: 80%;
  margin: auto;
}


/* MAIN_CONTENT */
.main_content {
  width: 100%;
  margin: 100px auto 0 auto;
}


/* RESPONSIVE  */

@media screen and (max-width: 940px) {



}