nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
  background: #fff;
  font-family: "Jost";
}
.nav_content_tp {
  width: 100%;
  height: 50px;
  /* background: red; */
  border-bottom: 1px solid #ddd;
}
.nav_content_tp .content {
  width: 80%;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #545454;
}
.nav_content_tp .contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
}
.nav_content_tp .mail {
  display: flex;
  align-items: center;
  column-gap: 10px;
}





.nav_content_dn {
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.nav_content_dn .content {
  width: 80%;
  height: 50px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo_box {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
}
 .content .nav_links {
  height: inherit;
}
.content .nav_links ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.content .nav_links ul li {
  display: inline-block;
  margin-left: 1.5rem;
  position: relative;
}

.content .nav_links li a{
  text-transform: uppercase;
  font-size: 17px !important;
  position: relative;
}
.content .nav_links li {
  position: relative
}
.content .nav_links li:nth-child(2):before{
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #111;
  transition: all .3s ease;
}
.content .nav_links li:hover::before{
  width: 100%;
}
.nav_mega_drop_menu {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  /* padding: 3rem 0; */
  height:50vh;
  background: rgb(255,255,255);
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); */
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  border-top: 1px solid #ddd;
}
.content .nav_links li:hover .nav_mega_drop_menu {
  visibility: visible;
  opacity: 1;
}
.nav_mega_drop_menu .nav_mega_drop_menu_content {
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 3rem 0;

  border: 1px solid red;
}
 .nav_mega_drop_menu_content span {
  display: flex;
  column-gap: 20px;
 }
 .nav_mega_drop_menu_content a {
  display: block;
 }





.drop_menu {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
}
.drop_menu a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}
.content .nav_links ul li:hover .drop_menu {
  top: 150%;
  visibility: visible;
  opacity: 1;
}
.drop_menu a { 
  display: block;
  width: 100%;
  padding: .5rem 0rem .5rem 1rem;
  font-size: 17px !important;
}
.drop_menu a:hover{
  background: #000044;
  color: #fff;
 }
.content .menu-btn {
  display: none;
}











/* .res_nav_content_dn {
  display: none;
} */

@media screen and (max-width: 940px) {
  /* .nav_links {
    display: none;
  }
  .nav_content_tp .content {
    width: 100%;
    padding: 0 1.5rem;
  }
  .nav_content_dn .content {
    width: 100%;
    padding: 0 1.5rem;
  }
  .nav_content_dn .menu-btn {
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 4px;
  }
  .nav_content_dn .menu-btn:hover {
    background: #fefefe;
  }
  .nav_content_dn .menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    width: 15px;
    height: 3px;
    background: #424242;
    transition: all 0.3s ease;
    display: inline-block;
  }
  .nav_content_dn .menu-btn span:nth-child(1) {
    top: 10px;
  }
  .nav_content_dn .menu-btn span:nth-child(2) {
    top: 8px;
    transform: rotate(90deg);
  } */

/* 
  .res_nav_content_dn {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 50px;
    right: -100%;
    display: block;
    background: white;
    transition: 0.4s ease;
  }
  .res_nav_content_dn.active {
    right: 0;
  }
  .res_nav_content_dn .content {
    width: 100%;
    height: inherit;
    margin: auto;
    padding: 0 1.5rem;
  }
  .res_nav_content_dn header {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .res_nav_content_dn .nav_links_ {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  .res_nav_content_dn .nav_links_ ul {
    width: 100%;
    height: 100vh;
    padding: 0 1.5rem;
  }

  .res_nav_content_dn .nav_links_ .link a {
    width: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  .res_nav_content_dn .nav_links_ .link a:hover {
    background: #000044;
    color: #fff;
  }
  .res_nav_content_dn .content .close-btn {
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 4px;
  }
  .res_nav_content_dn .content .close-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 3px;
    background: #424242;
    transition: all 0.3s ease;
    display: inline-block;
  }
  .res_nav_content_dn .content .close-btn:hover {
    background: #fefefe;
  }
  .res_nav_content_dn .close-btn span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .res_nav_content_dn .close-btn span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .res_nav_content_dn .close-btn:hover span {
    transform: translate(-50%, -50%) rotate(0);
  }*/
} 
